/* General layout */
:root {
    --columns: 0;
    --rows: 0;
    --bungee: 'Bungee', cursive;
    --monstserrat: 'Montserrat', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Bungee', cursive;
    padding: .5em;
    text-shadow: 4px 4px 2px darkmagenta;
}

body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}

button, input[type='button'] {
    background: white;
    border: 2px solid black;
    box-shadow: 4px 4px 2px darkmagenta;  
    color: black;
    margin: .6em;
    padding: .6em;
    font-family: var(--bungee);
}

button:hover, input[type='button']:hover {
    transform: scale(1.1);
} 

button:active, input[type='button']:active {
    box-shadow: 0 0 0 black;
    transform: scale(.95);
} 

/* Header */
header {
    background: palevioletred;
    color: white;
    display: grid;
    grid-template-columns: 1fr;
     
    margin: 0;
    padding: 1em;
    text-shadow: 2px 2px 2px black;
}

section {
    padding: 1em;
}

.user-interface {
    display: grid;
    grid-template-columns: 4fr 3fr;
    align-items: center;
}

.game-frame * {
    padding: .2em;
}

/* Timer */
.timer-container {
    display: flex;
    grid-template-columns: 1fr 1fr;
}

#timer-container p {
    font-size: 1.8em;
    margin-right: 2em;
}

/* Board style */
.boardContainer {
    display: grid;
    grid-template-columns: repeat(var(--columns), 1fr);
    grid-template-rows: repeat(var(--rows), 1fr);
    grid-gap: 1em;
}

.boardContainer>div {
    place-self: center;
    display: grid;
}


/* Card image style */
.boardContainer img {
    border: 2px solid palevioletred;
    place-self: center;
    width: 100%;
    transition: opacity .8s;
}

.boardContainer img.matched {
    opacity: 0;
}

.boardContainer img:hover {
    border: none;
    outline: 4px solid darkmagenta;
    filter: brightness(120%);
}

.boardContainer .matched:hover {
    outline: none;
    pointer-events: none;
    opacity: 0;
}

/* Game finish modal */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.8);
}

.modal-container {
    background-color: lightpink;
    box-shadow: 6px 6px 6px black;
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 15% auto;
    padding: 20px;
    border: 4px solid white;
    width: 60%;
}

.modal-container .close {
    color: black;
    font-size: 1.4em;
    justify-self: end;
    align-self: start;

}

.modal-container>* {
    place-self: center;
}

/* Media Queries */

@media (max-width: 500px) {
    header {
        grid-template-columns: 1fr;
    }

    .user-interface {
        grid-template-columns: 1fr;
    }

    .boardContainer {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (min-width: 1024px) {
    header {
        grid-template-columns: 1fr 2fr;
    }
}